{% extends 'base/base.html' %}

{% block title %}Password reset confirmation{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
    {% if validlink %}
    <div class="row d-flex justify-content-center">
        <h1 class="heading spaced-heading">Please enter (and confirm) your new password.</h1>
    </div>
    <div class="row d-flex justify-content-center">
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password">New password:</label></td>
                    </td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password"/></td>
                </tr>
            </table>
        </form>
    </div>
    {% else %}
    <div class="row d-flex justify-content-center">
        <h1 class="spaced-heading">Password reset failed</h1>
    </div>
    <div class="row d-flex justify-content-center">
        <p>The password reset link was invalid, possibly because it has already been used.
        Please request a new password.</p>
    </div>
</div>

{% endblock %}